---
const { data } = Astro.props;
---

<section class="cards">
  <article>
    <img src={"src/assets/img/" + data.image} alt={data.imgdescr} />
    <h2>{data.name}</h2>
    <p>{data.size}</p>
  </article>

  <article>
    <img src={"src/assets/img/" + data.image} alt={data.imgdescr} />
    <h2>{data.name}</h2>
    <p>{data.size}</p>
  </article>
</section>

<style>
  img {
    width: 100%;
    height: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  article {
    padding: 16px;
    margin: 8px;
    text-align: center;
    background-color: #810000;
  }
</style>
